Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

name: [alice , bob, claire ], age :[25, 30, 27], gender :[female, male ,female]

In [2]:
import pandas as pd

# Provided data
data = {
    'name': ['alice', 'bob', 'claire'],
    'age': [25, 30, 27],
    'gender': ['female', 'male', 'female']
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can be of different types. It can be thought of as a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is essentially a Pandas Series, and the combination of these Series forms a DataFrame.

A Pandas Series, on the other hand, is a one-dimensional labeled array. It can be seen as a single column of data in a DataFrame. A DataFrame consists of multiple columns, each of which is a Pandas Series.

difference between a Pandas Series and a DataFrame:

In [3]:
import pandas as pd

# Creating a Pandas Series
series_data = pd.Series([1, 2, 3, 4], name='Numbers')

# Creating a DataFrame
df_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
})

# Printing the Pandas Series
print("Pandas Series:")
print(series_data)
print("\nType:", type(series_data))

# Printing the DataFrame
print("\nDataFrame:")
print(df_data)
print("\nType:", type(df_data))

Pandas Series:
0    1
1    2
2    3
3    4
Name: Numbers, dtype: int64

Type: <class 'pandas.core.series.Series'>

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Type: <class 'pandas.core.frame.DataFrame'>

In this example, series_data is a Pandas Series representing a column of numbers, while df_data is a DataFrame containing columns 'Name', 'Age', and 'Gender'. Each column in the DataFrame is a Pandas Series. The key difference lies in the dimensionality: a Series is one-dimensional, and a DataFrame is two-dimensional.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail(): These functions allow you to view the first or last N rows of a DataFrame.

describe(): Provides summary statistics of the numeric columns in the DataFrame.

info(): Gives a concise summary of the DataFrame, including data types and missing values.

shape: Returns a tuple representing the dimensions of the DataFrame (rows, columns).

loc[] and iloc[]: Allows for label-based and integer-location-based indexing, respectively.

drop(): Removes specified rows or columns from the DataFrame.

In [4]:
# Example using head()
df.head(3)  # Show the first 3 rows of the DataFrame

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [5]:
# Example using describe()
df.describe()

             age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [6]:
# Example using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [8]:
 # Example using drop()
df.drop([0, 2])  # Remove rows with index 0 and 2

  name  age gender
1  bob   30   male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, meaning you can modify their contents after they are created.

Series: You can modify the elements of a Series by assigning new values to specific indices.

In [9]:
import pandas as pd

# Creating a Pandas Series
s = pd.Series([1, 2, 3, 4])

# Modifying a value in the Series
s[2] = 10

DataFrame: You can modify the values in a DataFrame by assigning new values to specific cells or columns.

In [10]:
import pandas as pd

# Creating a Pandas DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Modifying a value in the DataFrame
df.at[0, 'A'] = 10

# Modifying a column in the DataFrame
df['B'] = [40, 50, 60]

On the other hand, the Panel is a 3D data structure in Pandas (which is not as commonly used as Series and DataFrame). However, as of Pandas version 0.25.0, the Panel is deprecated, and it is recommended to use MultiIndex DataFrames or xarray for 3D data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Creating Pandas Series
names = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
ages = pd.Series([25, 30, 27], name='Age')
genders = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, three Pandas Series (names, ages, and genders) are created, each representing a column in the DataFrame. The DataFrame is then created using these Series, where the keys of the dictionary are the column names, and the values are the corresponding Series. The resulting DataFrame has columns 'Name', 'Age', and 'Gender'.